.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 0.6fr 1.0fr 0.5fr 1.5fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav1 nav2 nav3"
    "header header header header header side"
    "sidebar content1 content1 content1 content1 ads"
    "sidebar content1 content1 content1 content1 ads"
    "sidebar content2 content2 content2 content2 stuffs"
    "footer footer footer footer footer footer";
    grid-gap: 0.2rem;
}

nav{
    background: #FFD700;
    grid-area: nav;
}

#nav1{
    background: #FFB6C1;
    grid-area: nav1;
}

#nav2{
    background: #FFB6C1;
    grid-area: nav2;
}

#nav3{
    background: #FFB6C1;
    grid-area: nav3;
}

header{
    background: #B0C4DE;
    grid-area: header;
}

#side{
    background: #FF8C00;
    grid-area: side;
}

#ads{
    background: #006400;
    grid-area: ads;
}

#stuffs{
    background: #FF00FF;
    grid-area: stuffs;
}
#sidebar{
    background: #98FB98;
    grid-area: sidebar;
}

#content1{
    background: #D3D3D3;
    grid-area: content1;
}

#content2{
    background: #FFFF00;
    grid-area: content2;
}

footer{
    background: #A0522D;
    grid-area: footer;
}

